.lama-pagenumbers {
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.lama-pagenumbers li {
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.lama-pagenumbers li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.lama-pagenumbers .lama-previous-page,
.lama-pagenumbers .lama-next-page {
  background: #0ab1ce;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.lama-pagenumbers .lama-previous-page:hover {
  transform: translateX(-5px);
}

.lama-pagenumbers .lama-next-page:hover {
  transform: translateX(5px);
}

.lama-pagenumbers .lama-current-page,
.lama-pagenumbers .lama-dots {
  background: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.lama-pagenumbers .lama-current-page:hover {
  transform: scale(1.2);
}

.lama-pagenumbers .lama-active {
  background: #0ab1ce;
}

.lama-pagenumbers .lama-disable {
  background: #ccc;
}
